

<div  id="welcome-album">
    <div class="row">
        <h3 style="margin-left:25px; margin-right:25px">Jyoti and David's Hindu Style Wedding</h3>
        <div id="gallery-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                <div style="height: 100%" class="item active">
                    <img src="../images/hindu-01.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #1
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-02.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #2
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-03.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #3
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-04.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #4
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-05.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #5
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-06.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #6
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-07.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #7
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-08.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #8
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-09.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #9
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-10.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #10
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-11.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #11
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-12.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #12
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-13.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #13
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-14.jpg" class="portrait  center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #14
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-15.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #15
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-16.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #16
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-17.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #17
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-18.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #18
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-19.jpg" class="portrait center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #19
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/hindu-20.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Jyoti and David's Hindu Wedding #20
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#gallery-carousel" data-slide-to="1"></li>
                <li data-target="#gallery-carousel" data-slide-to="2"></li>
                <li data-target="#gallery-carousel" data-slide-to="3"></li>
                <li data-target="#gallery-carousel" data-slide-to="4"></li>
                <li data-target="#gallery-carousel" data-slide-to="5"></li>
                <li data-target="#gallery-carousel" data-slide-to="6"></li>
                <li data-target="#gallery-carousel" data-slide-to="7"></li>
                <li data-target="#gallery-carousel" data-slide-to="8"></li>
                <li data-target="#gallery-carousel" data-slide-to="9"></li>
                <li data-target="#gallery-carousel" data-slide-to="10"></li>
                <li data-target="#gallery-carousel" data-slide-to="11"></li>
                <li data-target="#gallery-carousel" data-slide-to="12"></li>
                <li data-target="#gallery-carousel" data-slide-to="13"></li>
                <li data-target="#gallery-carousel" data-slide-to="14"></li>
                <li data-target="#gallery-carousel" data-slide-to="15"></li>
                <li data-target="#gallery-carousel" data-slide-to="16"></li>
                <li data-target="#gallery-carousel" data-slide-to="17"></li>
                <li data-target="#gallery-carousel" data-slide-to="18"></li>
                <li data-target="#gallery-carousel" data-slide-to="19"></li>

            </ol>
        </div>
    </div>

</div>
</div>

</body>