<script>
    $(document).ready(function() {
        $('#usrManger').dataTable();
    } );
</script>

<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="jumbotron">
            <h2>Welcome to KinghornTek </h2>
            <p> Bringing it all together</p>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <h3>Enterprise support</h3>
                <p> Active Directory</p>
                <p> System Center Configuration Manager</p>
                <p> Imaging</p>
                <p> Backups</p>
                <p> Ask about other services</p>
            </div>
            <div class="col-sm-3 col-md-3">
                <h3>Web site support</h3>
                <p> For the Enterprise</p>
                <p> For the Small Business</p>
                <p> For a personal site</p>
            </div>
            <div class="col-sm-3 col-md-3">
                <h3>Hardware and Software Support</h3>
                <p> Server installs and maintance</p>
                <p> Desktop rollout and imaging</p>
                <p> Software installation and training</p>
            </div>
        </div>
    </div>
</div>
