
<div  id="welcome-album">
    <div class="row">
        <h3 style="margin-left:25px; margin-right:25px">Albums</h3>
        <div id="gallery-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                <div style="height: 100%" class="item active">
                    <img src="../images/2-Perfect-Children-5-1987.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        David and Michael
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/Horatios.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Back to nature - Behind Horatio's restaurant
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/Jyoti_David_2ndCeremony-116.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Western Wedding
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/Jyoti&David_Hindu-174.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Hindu Wedding
                    </div>
                </div>
                <div style="height: 100%" class="item">
                    <img src="../images/Magic.jpg" class="img-responsive center-block">
                    <div class="carousel-caption">
                        Vacations - On our way to Magic Morning Disneyland
                    </div>
                </div>
            </div>
        </div>
    </div>
            <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#gallery-carousel" data-slide-to="1"></li>
                <li data-target="#gallery-carousel" data-slide-to="2"></li>
                <li data-target="#gallery-carousel" data-slide-to="3"></li>
                <li data-target="#gallery-carousel" data-slide-to="4"></li>
            </ol>
        </div>
    </div>

</div>



