


<body>
    <div role="tabpanel" class="tab-pane" id="welcome-album">
        <div class="row">
            <h3 style="margin-left:25px" >Jyoti and David's Western Wedding</h3>
            <div id="gallery-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner" role="listbox">
                    <div style="height: 100%" class="item active">
                        <img src="../images/western-01.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #1
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-02.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #2
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-03.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #3
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-04.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #4
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-05.jpg" class="img-responsive" center-block>
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #5
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-06.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #6
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-07.jpg" class="center-block portrait">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #7
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-08.jpg" class="portrait center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #8
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-09.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #9
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-10.jpg" class="portrait center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #10
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-11.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #11
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-12.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #12
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-13.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #13
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-14.jpg" class="img-responsive  center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #14
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-15.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #15
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-16.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #16
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-17.jpg" class="portrait center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #17
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-18.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #18
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-19.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #19
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-20.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #20
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-21.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #21
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-22.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #22
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-23.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #23
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-24.jpg" class="portrait center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #24
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-25.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #25
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-26.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #26
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-27.jpg" class="portrait center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #27
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-28.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #28
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-29.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #29
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-30.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #30
                        </div>
                    </div>
                    <div style="height: 100%" class="item">
                        <img src="../images/western-31.jpg" class="img-responsive center-block">
                        <div class="carousel-caption">
                            Jyoti and David's Western Wedding #31
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#gallery-carousel" data-slide-to="1"></li>
                    <li data-target="#gallery-carousel" data-slide-to="2"></li>
                    <li data-target="#gallery-carousel" data-slide-to="3"></li>
                    <li data-target="#gallery-carousel" data-slide-to="4"></li>
                    <li data-target="#gallery-carousel" data-slide-to="5"></li>
                    <li data-target="#gallery-carousel" data-slide-to="6"></li>
                    <li data-target="#gallery-carousel" data-slide-to="7"></li>
                    <li data-target="#gallery-carousel" data-slide-to="8"></li>
                    <li data-target="#gallery-carousel" data-slide-to="9"></li>
                    <li data-target="#gallery-carousel" data-slide-to="10"></li>
                    <li data-target="#gallery-carousel" data-slide-to="11"></li>
                    <li data-target="#gallery-carousel" data-slide-to="12"></li>
                    <li data-target="#gallery-carousel" data-slide-to="13"></li>
                    <li data-target="#gallery-carousel" data-slide-to="14"></li>
                    <li data-target="#gallery-carousel" data-slide-to="15"></li>
                    <li data-target="#gallery-carousel" data-slide-to="16"></li>
                    <li data-target="#gallery-carousel" data-slide-to="17"></li>
                    <li data-target="#gallery-carousel" data-slide-to="18"></li>
                    <li data-target="#gallery-carousel" data-slide-to="19"></li>
                    <li data-target="#gallery-carousel" data-slide-to="20"></li>
                    <li data-target="#gallery-carousel" data-slide-to="21"></li>
                    <li data-target="#gallery-carousel" data-slide-to="22"></li>
                    <li data-target="#gallery-carousel" data-slide-to="23"></li>
                    <li data-target="#gallery-carousel" data-slide-to="24"></li>
                    <li data-target="#gallery-carousel" data-slide-to="25"></li>
                    <li data-target="#gallery-carousel" data-slide-to="26"></li>
                    <li data-target="#gallery-carousel" data-slide-to="27"></li>
                    <li data-target="#gallery-carousel" data-slide-to="28"></li>
                    <li data-target="#gallery-carousel" data-slide-to="29"></li>
                    <li data-target="#gallery-carousel" data-slide-to="30"></li>
                </ol>
            </div>
        </div>

    </div>
</div>

</body>